<nb-card class="col-md-12 col-lg-12 col-xxxl-12">
  <nb-card-body>
    <nb-stepper #stepper orientation="vertical" [disableStepNavigation]="true">
      <nb-step label="Descrição">
        <form [formGroup]="descriptionForm" (ngSubmit)="saveForm(descriptionForm)">
          <div class="form-group" >
            <label for="problem-name" class="label">Defina um título para o seu problema</label>
            <input id="problem-name" formControlName="name" required fullWidth nbInput placeholder="Título"/>
            <span class="caption status-danger" *ngIf="name.errors?.required && (name.dirty || name.touched)">
              Informe um título.
            </span>
          </div>
          <div class="form-group">
            <label class="label">Defina a descrição</label>
            <quill-editor formControlName="description" required></quill-editor>
            <span class="caption status-danger" *ngIf="description.errors?.required && (description.dirty || description.touched)">
              Informe uma descrição.
            </span>
          </div>
          <button type="submit" nbButton>Próximo</button>
        </form>
      </nb-step>
      <nb-step label="Contrato">
        <form (ngSubmit)="saveProblemContract(contractDefinition)">
          <div class="form-group">
            <app-contract-definition [fields]="classContract.fields" [methods]="classContract.methods" #contractDefinition></app-contract-definition>
            <span class="caption status-danger" *ngIf="classContractError">
              Informe ao menos um método.
            </span>
          </div>
          <button nbButton nbStepperPrevious>Anterior</button>
          <button type="submit" nbButton>Próximo</button>
        </form>
      </nb-step>
      <nb-step label="Cenários">
        <app-problem-scenarios></app-problem-scenarios>
        <button nbButton nbStepperPrevious>prev</button>
        <button nbButton nbStepperNext>next</button>
      </nb-step>
      <nb-step label="Solução">
        <h3>Step content #4</h3>
        <p class="lorem">
          Proin varius accumsan semper. Praesent consequat tincidunt sagittis. Curabitur egestas sem a ipsum bibendum,
          sit amet fringilla orci efficitur. Nam bibendum lectus ut viverra tristique. Fusce eu pulvinar magna, quis
          viverra ex.
        </p>
        <button nbButton nbStepperPrevious>prev</button>
        <button nbButton disabled nbStepperNext>next</button>
      </nb-step>
      <nb-step label="Preview">
        <h3>Step content #4</h3>
        <p class="lorem">
          Proin varius accumsan semper. Praesent consequat tincidunt sagittis. Curabitur egestas sem a ipsum bibendum,
          sit amet fringilla orci efficitur. Nam bibendum lectus ut viverra tristique. Fusce eu pulvinar magna, quis
          viverra ex.
        </p>
        <button nbButton nbStepperPrevious>prev</button>
        <button nbButton disabled nbStepperNext>next</button>
      </nb-step>
    </nb-stepper>
  </nb-card-body>
</nb-card>
