<nb-card class="col-md-12 col-lg-12 col-xxxl-12 problem-definition-container">
  <nb-card-body [nbSpinner]="loading">
    <nb-stepper #stepper orientation="vertical" [disableStepNavigation]="true" *ngIf="!loading">
      <nb-step label="Descrição">
        <app-help section="problemDescription" orientation="right"></app-help>
        <form [formGroup]="descriptionForm" class="top-spacing" (ngSubmit)="saveForm(descriptionForm)">
          <div class="form-group">
            <label for="problem-name" class="label">Defina um título para o seu problema</label>
            <input id="problem-name" formControlName="name" required fullWidth nbInput placeholder="Título"/>
            <span class="caption status-danger" *ngIf="name.errors?.required && (name.dirty || name.touched)">
              Informe um título.
            </span>
          </div>
          <div class="form-group">
            <label class="label">Defina a descrição</label>
            <app-text-editor controlName="description" [required]="true"></app-text-editor>
            <span class="caption status-danger" *ngIf="description.errors?.required && (description.dirty || description.touched)">
              Informe uma descrição.
            </span>
          </div>
          <button nbButton disabled nbStepperPrevious>Anterior</button>
          <button type="submit" class="margin-left-5" nbButton>Próximo</button>
        </form>
      </nb-step>
      <nb-step label="Contrato">
        <div class="help-relative-wrapper">
          <app-help section="problemContract" orientation="right" position="absolute"></app-help>
          <form class="top-spacing" (ngSubmit)="saveProblemContract(contractDefinition)">
            <div class="form-group">
              <app-contract-definition
                [contractName]="classContract.name"
                [fields]="classContract.fields"
                [methods]="classContract.methods"
                #contractDefinition
              ></app-contract-definition>
            </div>
            <button nbButton nbStepperPrevious>Anterior</button>
            <button type="submit" class="margin-left-5" nbButton>Próximo</button>
          </form>
        </div>
      </nb-step>
      <nb-step label="Cenários">
        <app-help section="problemScenarios" orientation="right"></app-help>
        <app-problem-scenarios
          [contract]="classContract"
          [preloadedScenarios]="scenarios"
          #problemScenarios>
        </app-problem-scenarios>
        <button nbButton nbStepperPrevious>Anterior</button>
        <button nbButton class="margin-left-5" (click)="saveProblemScenarios(problemScenarios)">Próximo</button>
      </nb-step>
      <nb-step label="Solução">
        <div class="help-relative-wrapper">
          <app-help section="problemSolution" orientation="right" position="absolute"></app-help>
          <app-code-execution
            [contract]="classContract"
            [scenarios]="scenarios"
            [solution]="solution"
            #problemSolution
          ></app-code-execution>
        </div>
        <button nbButton nbStepperPrevious>Anterior</button>
        <button nbButton class="margin-left-5" (click)="confirmSaveProblem(createProblemDialog)">Criar problema</button>
      </nb-step>
    </nb-stepper>
  </nb-card-body>
</nb-card>

<ng-template #createProblemDialog let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header>Confirmar</nb-card-header>
    <nb-card-body>Você realmente deseja criar o problema? Não esqueça de validar a execução de todos os cenários criados e a solução proposta.</nb-card-body>
    <nb-card-footer>
      <button nbButton (click)="ref.close()">Cancelar</button>
      <button class="save-problem-button" nbButton status="primary" (click)="proceedSave('export'); ref.close()">Exportar em um arquivo</button>
      <button *ngIf="loggedIn" class="save-problem-button" nbButton status="primary" (click)="proceedSave('persist'); ref.close()">Salvar no github</button>
    </nb-card-footer>
  </nb-card>
</ng-template>
