<div class="row code-execution-wrapper">
  <div class="col-sm-12 col-lg-6 code-editor-container">
    <app-code-editor
      [type]="codeType"
      [hasError]="hasError"
      [errorContext]="errorContext"
      [showToolbar]="true"
      (action)="executeCodeEditorAction($event)"
    ></app-code-editor>
  </div>
  <div class="col-sm-12 col-lg-6 graphic-container">
    <app-graphic (onLoad)="setGraphicEngine($event)"></app-graphic>
  </div>
  <app-execution-bar
    [hidden]="!isExecuting"
    (stateChanged)="onExecutionBarStateChanged($event)"
    #executionBar
  ></app-execution-bar>
</div>
