<div class="code-execution-wrapper">
  <div class="row scenario-selection-container">
    <div class="col-sm-12">
      <div class="form-group">
        <label for="selected-scenario" class="label">Selecione um cenário para executar</label>
        <div class="select-scenario-container">
          <nb-select
            id="selected-scenario"
            class="select-scenario"
            [(selected)]="selectedScenarioId"
            (selectedChange)="open(scenarioDescriptionDialog)">
            <nb-option
              *ngFor="let scenario of scenarios; trackBy: scenarioId"
              [value]="scenario.id"
            >{{ scenario.name }}</nb-option>
          </nb-select>
          <button
            nbButton
            *ngIf="selectedScenario && selectedScenario.description"
            class="top-button"
            (click)="open(scenarioDescriptionDialog)"
          >Descrição do cenário</button>
          <button
            nbButton
            *ngIf="selectedScenario && solution"
            class="top-button"
            (click)="showSolution(solutionDialog)"
          >Solução</button>
          <div *ngIf="selectedScenario" class="perspective-container">
            <button nbButton
              class="corner-left"
              [ngClass]="{'selected': perspective === 'BOTH' }"
              nbTooltip="Código e visualização"
              (click)="updatePerspective('BOTH')">
                <nb-icon icon="layout-outline" pack="eva"></nb-icon>
            </button>
            <button nbButton
              class="middle"
              [ngClass]="{'selected': perspective === 'ONLY_CODE' }"
              nbTooltip="Somente código"
              (click)="updatePerspective('ONLY_CODE')">
                <nb-icon icon="code-outline" pack="eva"></nb-icon>
              </button>
            <button nbButton
              class="corner-right"
              [ngClass]="{'selected': perspective === 'ONLY_VISUALIZATION' }"
              nbTooltip="Somente visualização"
              (click)="updatePerspective('ONLY_VISUALIZATION')">
                <nb-icon icon="eye-outline" pack="eva"></nb-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row components-wrapper" *ngIf="selectedScenario">
    <div
      class="col-sm-12 code-editor-container"
      [ngClass]="{'col-lg-6': perspective === 'BOTH', 'col-lg-12': perspective === 'ONLY_CODE', 'hide': perspective === 'ONLY_VISUALIZATION' }">
      <app-code-editor
        [type]="codeType"
        [hasError]="hasError"
        [errorContext]="errorContext"
        [showToolbar]="true"
        [config]="contract"
        (action)="executeCodeEditorAction($event)"
      ></app-code-editor>
    </div>
    <div
      class="col-sm-12 graphic-container"
      [ngClass]="{'col-lg-6': perspective === 'BOTH', 'col-lg-12': perspective === 'ONLY_VISUALIZATION', 'hide': perspective === 'ONLY_CODE' }">
      <app-graphic
        (onLoad)="setGraphicEngine($event)"
      ></app-graphic>
    </div>
    <app-execution-bar
      [hidden]="!isExecuting"
      (stateChanged)="onExecutionBarStateChanged($event)"
      #executionBar
    ></app-execution-bar>
  </div>
</div>

<ng-template #scenarioDescriptionDialog let-data>
  <pre>
    {{ selectedScenario.description }}
  </pre>
</ng-template>

<ng-template #solutionDialog let-data let-solutionRef="dialogRef">
  <nb-card>
    <nb-card-header>
      Solução do problema
      <button nbButton
        tabindex="-1"
        nbTooltip="Copiar"
        (click)="copySolution(solutionTextArea)"
        size="small">
        <nb-icon icon="copy-outline" pack="eva"></nb-icon>
      </button>
    </nb-card-header>
    <nb-card-body>
      <textarea class="solution-area" nbInput readonly #solutionTextArea>{{ solution }}</textarea>
    </nb-card-body>
    <nb-card-footer>
      <button nbButton (click)="solutionRef.close()">Fechar</button>
    </nb-card-footer>
  </nb-card>
</ng-template>
