<div class="header-container">
  <div class="logo-container">
    <a (click)="toggleSidebar()" href="#" class="sidebar-toggle">
      <nb-icon icon="menu-2-outline"></nb-icon>
    </a>
    <a class="logo" href="#" (click)="navigateHome()">Smalg Platform</a>
  </div>
</div>

<div class="header-container">
  <nb-actions size="small">
    <nb-action class="user-action">
      <nb-user
        *ngIf="user"
        [nbContextMenu]="loggedUserMenu"
        [name]="user?.name"
        [picture]="user?.avatarUrl"
        nbContextMenuTag="logged-context-menu">
      </nb-user>
      <nb-user
        *ngIf="!user"
        [nbContextMenu]="anonymousUserMeny"
        name="Anônimo"
        picture="user?.avatarUrl"
        nbContextMenuTag="not-logged-context-menu">
      </nb-user>
    </nb-action>
  </nb-actions>
</div>
