<nb-accordion>
  <nb-accordion-item *ngIf="loggedIn && currentUserProblems?.length > 0">
    <nb-accordion-item-header>
      Meus problemas criados:
    </nb-accordion-item-header>
    <nb-accordion-item-body [nbSpinner]="loadingCurrentUser">
      <nb-list>
        <nb-list-item *ngFor="let problem of currentUserProblems">
          <app-problem-item [problemInfo]="problem" (onSelect)=executeProblem($event)></app-problem-item>
        </nb-list-item>
      </nb-list>
    </nb-accordion-item-body>
  </nb-accordion-item>
  <nb-accordion-item>
    <nb-accordion-item-header>
      Listar de um usuário do github:
    </nb-accordion-item-header>
    <nb-accordion-item-body [nbSpinner]="loadingSpecificUser">
      <div *ngIf="!loggedIn">
        <app-login message="Para listar problemas de um usuário, autentique no Github:"></app-login>
      </div>
      <div *ngIf="loggedIn">
        <form [formGroup]="searchSpecificUserForm" (ngSubmit)="searchSpecificUserProblems()">
          <nb-form-field>
            <input formControlName="username" id="specificUserSearch" type="text" fullWidth nbInput placeholder="username"/>
            <button type="submit" nbSuffix nbButton ghost>
              <nb-icon icon="search-outline" pack="eva"></nb-icon>
            </button>
          </nb-form-field>
        </form>
        <div class="no-item-found" *ngIf="!loadingSpecificUser && specificUserProblems?.length === 0 && lastUsernameSearched">
          <span><i>Nenhum problema encontrado.</i></span>
        </div>
        <nb-list *ngIf="specificUserProblems?.length > 0">
          <nb-list-item *ngFor="let problem of specificUserProblems">
            <app-problem-item [problemInfo]="problem" (onSelect)=executeProblem($event)></app-problem-item>
          </nb-list-item>
        </nb-list>
      </div>
    </nb-accordion-item-body>
  </nb-accordion-item>
  <nb-accordion-item [expanded]="!loggedIn">
    <nb-accordion-item-header>
      Executar a partir de um arquivo:
    </nb-accordion-item-header>
    <nb-accordion-item-body>
      <app-select-file (onSelect)="fileSelected($event)"></app-select-file>
    </nb-accordion-item-body>
  </nb-accordion-item>
</nb-accordion>

