<nb-card *ngIf="loggedIn && currentUserProblems?.length > 0" class="problemsCard">
  <nb-card-header>
    Meus problemas criados:
  </nb-card-header>
  <nb-list [nbSpinner]="loadingCurrentUser">
    <nb-list-item *ngFor="let problem of currentUserProblems">
      <app-problem-item [problemInfo]="problem"></app-problem-item>
    </nb-list-item>
  </nb-list>
</nb-card>
<nb-card *ngIf="loggedIn" class="problemsCard">
  <nb-card-header>
    <form [formGroup]="searchSpecificUserForm" (ngSubmit)="searchSpecificUserProblems()">
      <label for="specificUserSearch">Listar de um usuário do github:</label>
      <nb-form-field>
        <input formControlName="username" id="specificUserSearch" type="text" fullWidth nbInput placeholder="username"/>
        <button type="submit" nbSuffix nbButton ghost>
          <nb-icon icon="search-outline" pack="eva"></nb-icon>
        </button>
      </nb-form-field>
    </form>
  </nb-card-header>
  <nb-card-body *ngIf="specificUserProblems?.length === 0">
    <span>Nenhum problema encontrado.</span>
  </nb-card-body>
  <nb-list *ngIf="specificUserProblems?.length > 0" [nbSpinner]="loadingSpecificUser">
    <nb-list-item *ngFor="let problem of specificUserProblems">
      <app-problem-item [problemInfo]="problem"></app-problem-item>
    </nb-list-item>
  </nb-list>
</nb-card>
<nb-card class="problemsCard">
  <nb-card-body>
    <form [formGroup]="importFileForm">
      <label for="importFromFile" class="import-label">Importar a partir de um arquivo:</label>
      <input id="importFromFile" formControlName="file" type="file" accept=".smgplt"/>
    </form>
  </nb-card-body>
</nb-card>

