<div class="execution-bar">
  <button
    class="execution-button"
    *ngFor="let button of BUTTONS; trackBy: buttonId"
    (click)="changeState(button.state)"
    [disabled]="!button.enabled"
    [nbTooltip]="button.tooltip">
    <nb-icon
      class="execution-icon"
      [ngClass]="button.icon"
      [icon]="button.icon"
      [class.active]="button.state === currentState"
      pack="fa"
    ></nb-icon>
  </button>
  <div *ngIf="message" class="message-container">
    <span class="message">{{message}}</span>
  </div>
</div>
